*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(/modules/animg/bg2.png);
	background-size: cover;
}
.login{
	width: 92%;
	margin: auto;
	padding-left: 10px;
}
.logo img{
	display: block;
	margin: 30px auto;
}
.login input{
	width: 86%;
	height: 38px;
	margin-top: 1px;
	outline: none;
	border: none;
	background-color: #dfcec6;
	text-indent: 1em;
	font-size: 14px;
}
.login img{
	height: 35px;
	float: left;
	margin-left: 5px;
	margin-right: 3px;
	margin-top: 2px;
	vertical-align: middle;
}
.login .username{
	width: 94%;
	height: 42px;
	margin-bottom: 20px;
	background-color: #dfcec6;
	border-radius:3px ;
	border: 1px solid #e8a94c;
}
.login .password{
	width: 94%;
	background-color: #dfcec6;
	height: 42px;
	border: 1px solid #e8a94c;
	border-radius:3px ;
	margin-bottom: 50px;
}
.login #rember{
	width: 13px;
	height: 13px;
}
.rember span{
	color: #f0f0f0;
	font-size: 14px;
}
.login #submit{
	width: 95%;
	margin-top: 10px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #7b1700;
	background-color: #f6d87e;
}
